<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Ayuda con Mercado Liebre: soluciones, información y más - '}) %>
<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->
	
	<main>

        <section class="boxPageML">
            <div class="titlePageML">¿Con qué podemos ayudarte?</div>
            <div class="titleOptionML">Compras</div>

            <section class="boxBorderML">
                <section class="helpOptions">
                    <section class="sectionsHelp shadowML">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                        <div class="textSection">
                            <p class="separateThisText">Administrar y cancelar compras</p>
                            <p>Pagar, seguir envíos, modificar, reclamar o cancelar compras.</p>
                        </div>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </section>
                </section>
    
                <section class="helpOptions">
                    <section class="sectionsHelp shadowML">
                        <i class="fa fa-undo" aria-hidden="true"></i>
                        <div class="textSection">
                            <p class="separateThisText">Devoluciones y reembolsos</p>
                            <p>Devolver un producto o consultar por reintegros de dinero de una compra.</p>
                        </div>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </section>
                </section>
    
                <section class="helpOptions">
                    <section class="sectionsHelp">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                        <div class="textSection">
                            <p>Preguntas frecuentes sobre compras</p>
                        </div>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </section>
                </section>
            </section>

            <div class="separateThis"></div>

            <div class="titleOptionML">Ventas</div>

            <section class="boxBorderML">
                <section class="helpOptions">
                    <section class="sectionsHelp shadowML">
                        <i class="fa fa-tag" aria-hidden="true"></i>
                        <div class="textSection">
                            <p class="separateThisText">Gestionar ventas y publicaciones</p>
                            <p>Ventas, cobros, envíos, reclamos, devoluciones, publicaciones y reputación.</p>
                        </div>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </section>
                </section>
    
                <section class="helpOptions">
                    <section class="sectionsHelp">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                        <div class="textSection">
                            <p>Preguntas frecuentes sobre ventas</p>
                        </div>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </section>
                </section>
            </section>
        </section>
    </main>

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>